.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
}

.movie-card2 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  /* display: flex;
  gap: 20px; */
  align-items: flex-start;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.movie-card2:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.movie-card2 img {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}
